body {
	font-size: 12px;
}
body > div.container-fluid {
	padding: 5px;
	}


.h1, h1 {
	font-size: 20px;
}
.h2, h2 {
	font-size: 18px;
}
.h3, h3 {
	font-size: 17px;
}
.h4, h4 {
	font-size: 16px;
}
.h5, h5 {
	font-size: 14px;
}
.container-flex > .flex:not(:first-child) {
	margin-left: 8px;
}
.panel-body {
    padding: 3px;
    border: none;
}
.panel-body > #grid {
    border:none;
}
.panel-body > #tree-list {
    border: none;
}
.form-control {
	height: 24px;
	padding: 4px 6px;
}
.form-horizontal .control-label {
    padding-top: 2px;
}
.form-group {
	margin-bottom: 4px;
}
.form-control, output {
	font-size: 12px;
	line-height: 1.5;
}
.btn-group-sm > .btn, .btn-sm {
	padding: 2px 6px;
	font-size: 10px;
	line-height: 1.5;
}
.checkbox, .radio {
	margin-top: 0px !important;
	margin-bottom: 0px !important;	
}
	/*.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
		margin-left: -23px;
	}
input[type=checkbox], input[type=radio] {
	margin: -10px 0 0;
}*/
.custom-control-indicator {
	width: 14px;
	height: 14px;
}
.k-grid table > thead > tr > th, .k-grid table > tbody > tr > th, .k-grid table > tfoot > tr > th, .k-grid table > thead > tr > td, .k-grid table > tbody > tr > td, .k-grid table > tfoot > tr > td {
	padding: 2px;
}
.btn {
	font-size: 12px;
	padding: 3px 6px;
}
.container-vertical-flex > .flex:not(:first-child) {
	margin-top: 5px;
}
.modal-header {
	padding: 8px;
}
.modal-body {
	padding: 8px;
}
.modal-footer {
	padding: 8px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 8px;
	padding-right: 8px;
}
.panel-heading {
	padding: 3px 5px;
}
.form-horizontal .form-group {
	margin-left: -10px;
	margin-right: -10px;
}
hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
.k-filter-row th, .k-grid-header th.k-header {
	padding: .1em .1em .1em .1em;
}
.k-pager-wrap {
    line-height: 2em;
    padding: .1em 0 .1em .1em;
}
.k-grid > .k-pager-wrap {
	flex-basis: 30px;
}
.hr-divider-nav > li > a {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 80%;
}
.nav > li > a {
	padding: 5px 10px;
}
.navbar-brand {
	float: left;
	padding: 5px 10px;
	height: 30px;
}
.navbar {
	min-height: 30px;
	margin-bottom: 21px;
}
.container-flex > .panel-body > .container, .container-vertical-flex > .panel-body > .container, .panel-flex > .panel-body > .container, .container-flex > .flex-1 > .container, .container-vertical-flex > .flex-1 > .container, .panel-flex > .flex-1 > .container, .container-flex > .flex-2 > .container, .container-vertical-flex > .flex-2 > .container, .panel-flex > .flex-2 > .container, .container-flex > .flex-3 > .container, .container-vertical-flex > .flex-3 > .container, .panel-flex > .flex-3 > .container, .container-flex > .flex-4 > .container, .container-vertical-flex > .flex-4 > .container, .panel-flex > .flex-4 > .container, .container-flex > .flex-5 > .container, .container-vertical-flex > .flex-5 > .container, .panel-flex > .flex-5 > .container, .container-flex > .flex-md-1 > .container, .container-vertical-flex > .flex-md-1 > .container, .panel-flex > .flex-md-1 > .container, .container-flex > .flex-md-2 > .container, .container-vertical-flex > .flex-md-2 > .container, .panel-flex > .flex-md-2 > .container, .container-flex > .flex-md-3 > .container, .container-vertical-flex > .flex-md-3 > .container, .panel-flex > .flex-md-3 > .container, .container-flex > .flex-md-4 > .container, .container-vertical-flex > .flex-md-4 > .container, .panel-flex > .flex-md-4 > .container, .container-flex > .flex-md-5 > .container, .container-vertical-flex > .flex-md-5 > .container, .panel-flex > .flex-md-5 > .container, .container-flex > .panel-body > .container-fluid, .container-vertical-flex > .panel-body > .container-fluid, .panel-flex > .panel-body > .container-fluid, .container-flex > .flex-1 > .container-fluid, .container-vertical-flex > .flex-1 > .container-fluid, .panel-flex > .flex-1 > .container-fluid, .container-flex > .flex-2 > .container-fluid, .container-vertical-flex > .flex-2 > .container-fluid, .panel-flex > .flex-2 > .container-fluid, .container-flex > .flex-3 > .container-fluid, .container-vertical-flex > .flex-3 > .container-fluid, .panel-flex > .flex-3 > .container-fluid, .container-flex > .flex-4 > .container-fluid, .container-vertical-flex > .flex-4 > .container-fluid, .panel-flex > .flex-4 > .container-fluid, .container-flex > .flex-5 > .container-fluid, .container-vertical-flex > .flex-5 > .container-fluid, .panel-flex > .flex-5 > .container-fluid, .container-flex > .flex-md-1 > .container-fluid, .container-vertical-flex > .flex-md-1 > .container-fluid, .panel-flex > .flex-md-1 > .container-fluid, .container-flex > .flex-md-2 > .container-fluid, .container-vertical-flex > .flex-md-2 > .container-fluid, .panel-flex > .flex-md-2 > .container-fluid, .container-flex > .flex-md-3 > .container-fluid, .container-vertical-flex > .flex-md-3 > .container-fluid, .panel-flex > .flex-md-3 > .container-fluid, .container-flex > .flex-md-4 > .container-fluid, .container-vertical-flex > .flex-md-4 > .container-fluid, .panel-flex > .flex-md-4 > .container-fluid, .container-flex > .flex-md-5 > .container-fluid, .container-vertical-flex > .flex-md-5 > .container-fluid, .panel-flex > .flex-md-5 > .container-fluid, .container-flex > .panel-body > .panel:only-child, .container-vertical-flex > .panel-body > .panel:only-child, .panel-flex > .panel-body > .panel:only-child, .container-flex > .flex-1 > .panel:only-child, .container-vertical-flex > .flex-1 > .panel:only-child, .panel-flex > .flex-1 > .panel:only-child, .container-flex > .flex-2 > .panel:only-child, .container-vertical-flex > .flex-2 > .panel:only-child, .panel-flex > .flex-2 > .panel:only-child, .container-flex > .flex-3 > .panel:only-child, .container-vertical-flex > .flex-3 > .panel:only-child, .panel-flex > .flex-3 > .panel:only-child, .container-flex > .flex-4 > .panel:only-child, .container-vertical-flex > .flex-4 > .panel:only-child, .panel-flex > .flex-4 > .panel:only-child, .container-flex > .flex-5 > .panel:only-child, .container-vertical-flex > .flex-5 > .panel:only-child, .panel-flex > .flex-5 > .panel:only-child, .container-flex > .flex-md-1 > .panel:only-child, .container-vertical-flex > .flex-md-1 > .panel:only-child, .panel-flex > .flex-md-1 > .panel:only-child, .container-flex > .flex-md-2 > .panel:only-child, .container-vertical-flex > .flex-md-2 > .panel:only-child, .panel-flex > .flex-md-2 > .panel:only-child, .container-flex > .flex-md-3 > .panel:only-child, .container-vertical-flex > .flex-md-3 > .panel:only-child, .panel-flex > .flex-md-3 > .panel:only-child, .container-flex > .flex-md-4 > .panel:only-child, .container-vertical-flex > .flex-md-4 > .panel:only-child, .panel-flex > .flex-md-4 > .panel:only-child, .container-flex > .flex-md-5 > .panel:only-child, .container-vertical-flex > .flex-md-5 > .panel:only-child, .panel-flex > .flex-md-5 > .panel:only-child {
	
	overflow: hidden;
}
