@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Đồng bộ dữ liệu";
}
<div class="row">
    <span>RemoteDB: Connected</span>
</div>
<div class="row">
    <span>LocalDB: Connected</span>
</div>
<div class="row">
    <form class="form-inline">
        <div class="form-group">
            <label for="lstDB">Chọn DB kết nối:</label>
            <select class="form-control" id="lstDB">
                <option>Remote DB</option>
                <option>Local DB</option>
            </select>
        </div>
    </form>    
</div>
<div class="row">
    <div class="btn-group-lg">
        <button type="button" class="btn btn-primary"><img src="~/images/reset.png" /> Chuyển DB</button>
        <button type="button" class="btn btn-primary"><img src="~/images/close.png" /> Hủy</button>
    </div>
</div>
