@{
	Layout = null;
}
@model TemplateItemCreateViewModel


<form id="create-form" asp-area="Manager" asp-controller="TemplateItem" asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Create"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>

		<input asp-for="TemplateId" type="hidden" />
		<div class="form-group">
			<div class="col-md-4 control-label">
			<label asp-for="Name"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="Name" class="form-control" type="text"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Index"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="Index" class="form-control" type="number" />
				<span asp-validation-for="Index" class="text-danger"></span>
			</div>

		</div>

		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" class="btn btn-primary"><span class="icon icon-action-create"></span> @Localizer["Create"] </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-action-back"></span> @Localizer["Back"] </button>
			</div>
		</div>

	</div>
</form>


<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
        	formId: 'create-form',
        	responseCallback: function (response) {
        		console.log(response);
        		if (typeof response == 'object') {
        			if (response.result == "OK") {
        				$("#modal").modal("hide");
        				notification.show(response.message);

        				var grid = $("#grid-templateItem").data('kendoGrid');
        				if (grid) {
        					if (response.id != "00000000-0000-0000-0000-000000000000")
        						grid.options.settings.dataItemId = response.id;
        					else
        						if (response.data)
        							grid.options.settings.dataItemId = response.data.Id;

        					grid.dataSource.read();
        				}
        			}
        			else {
        				alert(response.message);
        			}
        		}
        		else {
        			alert(response);
        		}
        	}
        });
    });
</script>



