@{
	Layout = null;
	ViewBag.Title = "Thêm";
}
@model TimeBandDayCreateViewModel

<form id="create-block-form" asp-area="Manager" asp-controller="TimeBandDay" asp-action="Create" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Add day of weeks"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>

		<input asp-for="TimeBandId" type="hidden"/>
		
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="StartDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="StartDate" class="form-control" type="date" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="EndDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="EndDate" class="form-control" type="date" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="DayOfWeeks"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="DayOfWeekView.Monday" type="checkbox" />
				<label asp-for="DayOfWeekView.Monday"></label>
				<input asp-for="DayOfWeekView.Tuesday" type="checkbox" />
				<label asp-for="DayOfWeekView.Tuesday"></label>
				<input asp-for="DayOfWeekView.Wednesday" type="checkbox" />
				<label asp-for="DayOfWeekView.Wednesday"></label>
				<input asp-for="DayOfWeekView.Thursday" type="checkbox" />
				<label asp-for="DayOfWeekView.Thursday"></label>
				<input asp-for="DayOfWeekView.Friday" type="checkbox" />
				<label asp-for="DayOfWeekView.Friday"></label>
				<input asp-for="DayOfWeekView.Saturday" type="checkbox" />
				<label asp-for="DayOfWeekView.Saturday"></label>
				<input asp-for="DayOfWeekView.Sunday" type="checkbox" />
				<label asp-for="DayOfWeekView.Sunday"></label>
			</div>
		</div>
		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary" onclick=""><span class="icon icon-plus"></span> @Localizer["Add"] </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-back"></span> @Localizer["Back"]</button>
			</div>
		</div>

	</div>
</form>


<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
        	formId: 'create-block-form',
        	responseCallback: function (response) {
        		console.log(response);
        		if (typeof response == 'object') {
        			if (response.result == "OK") {
        				$("#modal").modal("hide");
        				notification.show(response.message);

        				var grid = $("#grid-timeBandDay").data('kendoGrid');
        				if (grid) {
        					if (response.id != "00000000-0000-0000-0000-000000000000")
        						grid.options.settings.dataItemId = response.id;
        					else
        						if (response.data)
        							grid.options.settings.dataItemId = response.data.Id;

        					grid.dataSource.read();
        				}
        			}
        			else {
        				alert(response.message);
        			}
        		}
        		else {
        			alert(response);
        		}
        	}
        });
    });
</script>



