<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyMetadataOldToNew.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <CopyMetadataOldToNew.AppSettings>
            <setting name="NewDBConnectionString" serializeAs="String">
                <value>Server=hdstation.net;uid=sa;pwd=Hd123456!DB;database=HDAdv2017</value>
            </setting>
            <setting name="OldDBConnectionString" serializeAs="String">
                <value>Server=(local);uid=sa;pwd=Hd123456!DB;database=TVAD2017</value>
            </setting>
            <setting name="ContentTypeTVCId" serializeAs="String">
                <value>22fff45d-1b5c-4e8a-a15e-7a7853b0158f</value>
            </setting>
            <setting name="ContentTypeDOCId" serializeAs="String">
                <value>08dbaa65-e340-4472-94c9-4b453d769453</value>
            </setting>
            <setting name="WorkflowAPIAddress" serializeAs="String">
                <value>http://localhost:39647/Workflow/Api/</value>
            </setting>
            <setting name="WorkflowDiagramId" serializeAs="String">
                <value>aff1cfd5-3dc1-e711-8458-00155d0a2e00</value>
            </setting>
        </CopyMetadataOldToNew.AppSettings>
    </applicationSettings>
</configuration>