@{
    Layout = "_Layout";
}

<div class="container-flex">
    <div class="flex flex-1">
        <div class="panel panel-flex panel-default">
            <div class="panel-heading">
                <div class="sidebar-header">
                    <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                        <span class="sr-only">Toggle nav</span>
                    </button>
                    <a class="sidebar-brand img-responsive" href="index.html">
                        <span class="icon icon-home sidebar-brand-icon"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">                    
                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-header">Dashboards</li>
                        <li>
                            <a href="/Home">Home</a>
                        </li>
                        <li>
                            <a asp-area="MAM" asp-controller="Content" asp-action="Index">Content Management</a>
                        </li>
                        <li class="nav-header">More</li>

                        <li>
                            <a asp-controller="Producer" asp-action="Index">Producer Management</a>
                        </li>
                        <li>
                            <a asp-controller="Register" asp-action="Index">Register Management</a>
                        </li>
                        <li>
                            <a asp-controller="ProductGroup" asp-action="Index">Product Group Management</a>
                        </li>
                        <li>
                            <a asp-controller="ContentType" asp-action="Index">Content Type Management</a>
                        </li>
                        <li>
                            <a asp-controller="Evidence" asp-action="Index">View Evidence</a>
                        </li>
                    </ul>
                    <hr class="visible-xs m-t">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-4">
        @RenderBody()
    </div>
</div>


<script>
    require(['jquery'], function () {
        var path = location.pathname;
        var controller = path.split('/')[2];
        $("ul.nav.nav-pills.nav-stacked>li>a").each(function (i, v) {
            //	debugger;
            var href = $(v).attr("href");
            if (href.split('/')[2] === controller) {
                //		debugger;
                $(v).closest('li').addClass("active");
            }
        });

    });
</script>