<p>Điền tên chương trình:</p>
<input type="text" id="txtTenChuongTrinh2" />

<div>
    <p>Đặt lịch bắt đầu:</p>
    <p>Ngày/Tháng/Năm: <input type="text" id="datepickerRecordStart2" placeholder="dd-MM-yyyy" /></p>
    <p>Giờ: </p>
    <input type="text" id="timeStartPickerRecordStart2" placeholder="HH:mm:ss" />
</div>
<div>
    <p>Đặt lịch kết thúc:</p>
    <p>Ngày/Tháng/Năm: <input type="text" id="datepickerRecordEnd2" placeholder="dd-MM-yyyy" /></p>
    <p>Giờ: </p>
    <input type="text" id="timeStartPickerRecordEnd2" placeholder="HH:mm:ss" />
</div>

<div style="display:inline-block">
    <button id="btnXacNhanLichRecord2">Xác nhận</button>
    <button id="btnHuyLichRecord2">Hủy</button>
</div>