<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyMediaFromOld.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CopyMediaFromOld.AppSettings>
            <setting name="FTPSourceIP" serializeAs="String">
                <value>192.168.11.30</value>
            </setting>
            <setting name="FTPSourcePort" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="FTPSourceUserName" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="FTPSourcePassWord" serializeAs="String">
                <value>anonymous</value>
            </setting>
            <setting name="SqlConnectionString" serializeAs="String">
                <value>server=192.168.10.11;uid=sa;pwd=Hd123456!DB;database=TVAD2017</value>
            </setting>
            <setting name="DestDirectory" serializeAs="String">
                <value>\\171.18.32.161\Data\TVAD Old</value>
            </setting>
            <setting name="MaxErrorSizePer" serializeAs="String">
                <value>0.1</value>
            </setting>
        </CopyMediaFromOld.AppSettings>
    </applicationSettings>
</configuration>