<form>
    <div class="form-group">
        <div class="col-md-4 control-label">
            <label>Chế độ phát:</label>
        </div>
        <div class="col-md-8">
            <select id="selectFormChooseTime">
                <option>Phát từ đầu file</option>
                <option selected="selected">Phát từ dòng phụ đề đầu tiên</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 control-label">
            <label>Đặt lịch phát:</label>
        </div>
        <div class="col-md-8">
            <input type="text" id="datepicker" placeholder="dd-MM-yyyy" />
        </div>
    </div>

    <div class="btn-group">
        <button id="btnXacNhanLichSub" class="btn btn-primary-outline">Xác nhận</button>
        <button id="btnHuyLichSub" class="btn btn-primary-outline">Hủy</button>
    </div>
</form>
<script>
    $("#btnXacNhanLichSub").click(function () {
        var subStartTime = $("#datepicker").val() + " " + $("#timeStartPicker").val();
        $.ajax({
            url: "@Url.Action("ImportFile", "ViewVideo")",
            data: { fileIdStr: labelId, isStartFromFirstSub: true, fileStartTimeStr: subStartTime },
            type: "POST",
            dataType: "json",
            success: function (data) {
                //loadData(data);
                if (data) {
                    alert("Nhập file thành công!");
                    $("#formChooseTime").hide();
                    loadSubTimelineList();
                } else alert("Nhập file không thành công, mời thực hiện lại!");
            },
            error: function () {
                console.log("Failed! Try again!");
            }
        });

    });
    //Hide div input form when click cancel button
    $("#btnHuyLichSub").click(function () {
        $("#formChooseTime").hide();
    });
</script>
