<p>Chọn chế độ phát:</p>
<select id="selectFormChooseTime" name="garden" multiple="multiple">
    <option>Phát từ đầu file</option>
    <option selected="selected">Phát từ dòng phụ đề đầu tiên</option>
</select>
<div>
    <p>Đặt lịch phát:</p>
    <p>Date: <input type="text" id="datepicker" placeholder="dd-MM-yyyy" /></p>
    <p>Time: <input type="text" id="timeStartPicker" placeholder="HH:mm:ss" /></p>
</div>

<div style="display:inline-block">
    <button id="btnXacNhanLichSub">Xác nhận</button>
    <button id="btnHuyLichSub">Hủy</button>
</div>