@{
    ViewBag.Title = @Localizer["HD Delay Website"].Value;
}
<head>
    <link rel="stylesheet" href="~/css/delay.css" />
</head>
<div class="container-vertical-flex">
    <div class="flex flex-2">
        <div class="container-flex">
            <div class="flex flex-1">
                <div class="panel panel-default">
                    <div class="panel-body container-vertical-flex">
                        <div class="flex flex-1" id="mediaplayer"></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-1">
                <div class="panel panel-default">
                    <div class="panel-body container-vertical-flex">
                        <div class="flex flex-1">
                            <div id="tabs">
                                <ul>
                                    <li class="k-state-active">
                                        File phụ đề
                                    </li>
                                    <li>
                                        Lịch phụ đề
                                    </li>
                                    <li>
                                        Lịch ghi Lowres
                                    </li>
                                </ul>
                                <div>
                                    <ul id="treeview">
                                        <li data-expanded="true">
                                            <span class="k-sprite folder"></span>
                                            My Web Site
                                            <ul>
                                                <li data-expanded="true">
                                                    <span class="k-sprite folder"></span>images
                                                    <ul>
                                                        <li><span class="k-sprite image"></span>logo.png</li>
                                                        <li><span class="k-sprite image"></span>body-back.png</li>
                                                        <li><span class="k-sprite image"></span>my-photo.jpg</li>
                                                    </ul>
                                                </li>
                                                <li data-expanded="true">
                                                    <span class="k-sprite folder"></span>resources
                                                    <ul>
                                                        <li data-expanded="true">
                                                            <span class="k-sprite folder"></span>pdf
                                                            <ul>
                                                                <li><span class="k-sprite pdf"></span>brochure.pdf</li>
                                                                <li><span class="k-sprite pdf"></span>prices.pdf</li>
                                                            </ul>
                                                        </li>
                                                        <li><span class="k-sprite folder"></span>zip</li>
                                                    </ul>
                                                </li>
                                                <li><span class="k-sprite html"></span>about.html</li>
                                                <li><span class="k-sprite html"></span>contacts.html</li>
                                                <li><span class="k-sprite html"></span>index.html</li>
                                                <li><span class="k-sprite html"></span>portfolio.html</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <div id="gridSubSchedule"></div>
                                </div>
                                <div>
                                    <div id="gridRecordSchedule"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-1">
        <div class="container-flex">
            <div class="panel panel-default" style="width:100%">
                <div class="panel-heading">@Localizer["Detail Info"]:</div>
                <div class="panel-body text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['content/evidence'], function (evidence) {
        $("#mediaplayer").kendoMediaPlayer({
            autoPlay: true,
            navigatable: true,
            media: {
                title: "Recap of Progress Ringing The Bell at Nasdaq (2016)",
                source: "https://www.youtube.com/watch?v=tc3xhD24iTU"
            }
        });
        $("#tabs").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $("#treeview").kendoTreeView();
        $("#gridSubSchedule").kendoGrid({
            dataSource: {
                data: products,
                schema: {
                    model: {
                        fields: {
                            ProductName: { type: "string" },
                            UnitPrice: { type: "number" },
                            UnitsInStock: { type: "number" },
                            Discontinued: { type: "boolean" }
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            scrollable: true,
            sortable: true,
            filterable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                "ProductName",
                { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
                { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
                { field: "Discontinued", width: "130px" }
            ]
        });
        $("#gridRecordSchedule").kendoGrid({
            dataSource: {
                data: products,
                schema: {
                    model: {
                        fields: {
                            ProductName: { type: "string" },
                            UnitPrice: { type: "number" },
                            UnitsInStock: { type: "number" },
                            Discontinued: { type: "boolean" }
                        }
                    }
                },
                pageSize: 20
            },
            height: 550,
            scrollable: true,
            sortable: true,
            filterable: true,
            pageable: {
                input: true,
                numeric: false
            },
            columns: [
                "ProductName",
                { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
                { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
                { field: "Discontinued", width: "130px" }
            ]
        });
    });    
</script>