<p>Điền tên chương trình:</p>
<input type="text" id="txtTenChuongTrinh" />

<div>
    <p>Đặt lịch bắt đầu:</p>
    <p>Ngày/Tháng/Năm: <input type="text" id="datepickerRecordStart" placeholder="dd-MM-yyyy" /></p>
    <p>Giờ: </p>
    <input type="text" id="timeStartPickerRecordStart" placeholder="HH:mm:ss" />
</div>
<div>
    <p>Đặt lịch kết thúc:</p>
    <p>Ngày/Tháng/Năm: <input type="text" id="datepickerRecordEnd" placeholder="dd-MM-yyyy" /></p>
    <p>Giờ: </p>
    <input type="text" id="timeStartPickerRecordEnd" placeholder="HH:mm:ss" />
</div>

<div style="display:inline-block">
    <button id="btnXacNhanLichRecord">Xác nhận</button>
    <button id="btnHuyLichRecord">Hủy</button>
</div>