<div class="flex flex-0">
    <div class="container-flex">
        <div class="flex flex-0">
            <label style="font-size:large">Zoom:</label>
        </div>
        <div class="flex flex-1 container-fluid">
            <div class="col-xs-3 col-sm-2 col-md-1" style="text-align:right;font-weight:bold">IN</div>
            <div class="col-xs-6 col-sm-8 col-md-4" style="padding-top:10px">
                <div id="zoom-slider123"></div>
            </div>
            <div class="col-xs-3 col-sm-2 col-md-1" style="font-weight:bold">OUT</div>
        </div>
    </div>
</div>
<div class="flex flex-1">
    <label style="font-size:large">Timeline:</label>
    <div id="slider123" class="time-slider"></div>
</div>
<script>
    require(['jquery', 'jquery-ui'], function ($) {
        var current_time = (new Date()).getTime() + ((new Date()).getTimezoneOffset() * 60 * 1000 * -1);

        (function () {
            $('#zoom-slider123').slider({
                min: 0.1,
                max: 2,
                value: 0.1,
                step: 0.05,
                slide: function (event, ui) {
                    $('#slider123').TimeSlider({ hours_per_ruler: ui.value });
                }
            });

            $('#slider123').TimeSlider({
                start_timestamp: current_time - 30 * 1000
            });
        })();
    });
</script>