<div>
    <p>Đặt lịch phát:</p>
    <p>Date: <input type="text" id="datepicker2" placeholder="dd-MM-yyyy" /></p>
    <p>Time: <input type="text" id="timeStartPicker2" placeholder="HH:mm:ss" /></p>
</div>

<div style="display:inline-block">
    <button id="btnXacNhanLichSub2">Xác nhận</button>
    <button id="btnHuyLichSub2">Hủy</button>
</div>