<div class="panel panel-flex">
    <div class="panel-heading">
        <h2 class="text-center">@Localizer["User manager"]</h2>
    </div>
    <div class="panel-body">
        <div class="container-flex">
            <div class="flex flex-4">
                <div class="panel panel-default panel-flex">
                    <div class="panel-body" style="min-height:300px;">
                        @Html.Partial("UserPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>