@{
    ViewBag.Title = "HD Delay Website";
}
<head>
    <link rel="stylesheet" href="~/css/delay.css" />
    <link rel="stylesheet" href="~/css/timeslider.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<div class="container-vertical-flex">
    <div class="flex flex-2">
        <div class="container-flex">
            <div class="flex flex-1">
                <div class="panel panel-default">
                    <div class="panel-body container-vertical-flex">
                        <div class="flex flex-1" id="mediaplayer"></div>
                        <div class="flex flex-0 text-center">
                            <div class="btn-group" style="padding:10px;">
                                <button type="button" class="btn btn-primary player-btn icon-play">Play</button>
                                <button type="button" class="btn btn-primary player-btn icon-pause">Pause</button>
                                <button type="button" class="btn btn-primary player-btn icon-stop">Stop</button>
                                <button type="button" class="btn btn-primary player-btn icon-to-start">Back</button>
                                <button type="button" class="btn btn-primary player-btn icon-to-end">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-1">
                <div class="panel panel-default">
                    <div class="panel-body container-vertical-flex">
                        <div class="flex flex-1">
                            <div id="tabs">
                                <ul>
                                    <li class="k-state-active">
                                        File phụ đề
                                    </li>
                                    <li>
                                        Lịch phụ đề
                                    </li>
                                    <li>
                                        Lịch ghi Lowres
                                    </li>
                                </ul>
                                <div>
                                    <ul id="treeview">
                                        <li data-expanded="true">
                                            <span class="k-sprite folder"></span>
                                            My Web Site
                                            <ul>
                                                <li data-expanded="true">
                                                    <span class="k-sprite folder"></span>images
                                                    <ul>
                                                        <li><span class="k-sprite image"></span>logo.png</li>
                                                        <li><span class="k-sprite image"></span>body-back.png</li>
                                                        <li><span class="k-sprite image"></span>my-photo.jpg</li>
                                                    </ul>
                                                </li>
                                                <li data-expanded="true">
                                                    <span class="k-sprite folder"></span>resources
                                                    <ul>
                                                        <li data-expanded="true">
                                                            <span class="k-sprite folder"></span>pdf
                                                            <ul>
                                                                <li><span class="k-sprite pdf"></span>brochure.pdf</li>
                                                                <li><span class="k-sprite pdf"></span>prices.pdf</li>
                                                            </ul>
                                                        </li>
                                                        <li><span class="k-sprite folder"></span>zip</li>
                                                    </ul>
                                                </li>
                                                <li><span class="k-sprite html"></span>about.html</li>
                                                <li><span class="k-sprite html"></span>contacts.html</li>
                                                <li><span class="k-sprite html"></span>index.html</li>
                                                <li><span class="k-sprite html"></span>portfolio.html</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <div id="gridSubSchedule"></div>
                                </div>
                                <div>
                                    <div id="gridRecordSchedule"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-1">
        <div class="container-vertical-flex">
            <div class="flex flex-0">
                <div class="panel panel-default">
                    <div class="panel-heading">Thông tin:</div>
                    <div class="panel-body">
                        <div class="col-sm-3 col-md-3 col-lg-3 delayInfo" style="color: #2c0ab9;"><label>Trễ kỳ vọng:</label></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 delayInfo" style="color: #cd3920;"><label>Trễ thực tế:</label></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 delayInfo" style="color: #23eb1a;"><label>Playback:</label></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 delayInfo" style="color: #efd610;"><label>Con trỏ chuột:</label></div>
                    </div>
                </div>
            </div>
            <div class="flex flex-1">
                <div class="panel panel-default">
                    <div class="panel-heading">Timeline:</div>
                    <div class="panel-body container-vertical-flex" id="partialDiv">
                        @Html.Partial("TimeSlider");
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/timeslider.js"></script>
<script>
    require(['jquery', 'jquery-ui', 'kendo.all.min'], function ($) {
        $("#mediaplayer").kendoMediaPlayer({
            autoPlay: true,
            navigatable: true,
            media: {
                title: "Recap of Progress Ringing The Bell at Nasdaq (2016)",
                source: "https://www.youtube.com/watch?v=tc3xhD24iTU"
            }
        });
        $("#tabs").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        $("#treeview").kendoTreeView();
        //$("#gridSubSchedule").kendoGrid({
        //    dataSource: {
        //        data: products,
        //        schema: {
        //            model: {
        //                fields: {
        //                    ProductName: { type: "string" },
        //                    UnitPrice: { type: "number" },
        //                    UnitsInStock: { type: "number" },
        //                    Discontinued: { type: "boolean" }
        //                }
        //            }
        //        },
        //        pageSize: 20
        //    },
        //    height: 550,
        //    scrollable: true,
        //    sortable: true,
        //    filterable: true,
        //    pageable: {
        //        input: true,
        //        numeric: false
        //    },
        //    columns: [
        //        "ProductName",
        //        { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
        //        { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
        //        { field: "Discontinued", width: "130px" }
        //    ]
        //});
        //$("#gridRecordSchedule").kendoGrid({
        //    dataSource: {
        //        data: products,
        //        schema: {
        //            model: {
        //                fields: {
        //                    ProductName: { type: "string" },
        //                    UnitPrice: { type: "number" },
        //                    UnitsInStock: { type: "number" },
        //                    Discontinued: { type: "boolean" }
        //                }
        //            }
        //        },
        //        pageSize: 20
        //    },
        //    height: 550,
        //    scrollable: true,
        //    sortable: true,
        //    filterable: true,
        //    pageable: {
        //        input: true,
        //        numeric: false
        //    },
        //    columns: [
        //        "ProductName",
        //        { field: "UnitPrice", title: "Unit Price", format: "{0:c}", width: "130px" },
        //        { field: "UnitsInStock", title: "Units In Stock", width: "130px" },
        //        { field: "Discontinued", width: "130px" }
        //    ]
        //});
        var windowWidth = window.innerWidth;
        setInterval(function () {
            if ($("#cbAutoMap").is(':checked')) {
                if ($('.current-time-caret').position().left > (windowWidth - 150)) {
                    $("#partialDiv").load("/Home/TimeSlider");
                    //console.log("refreshed");
                }
            }
        }, 10000);
    });
</script>