@{
    ViewData["Title"] = "Đăng ký nhận tin";
}
<div class="container">
    <div class="container-vertical-flex">
        <div class="panel panel-flex">
            <div class="panel-heading">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label>Email:</label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="btn btn-primary-outline">
                            <span class="icon icon-paper-plane"></span> Đăng ký
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


