@using HD.TVAD.ApplicationCore.Entities.Booking
@{
	Layout = null;
}
@model RetailContractViewModel
@inject IRetailCustomerViewService _retailCustomerViewService
@inject IGetTypeService _getTypeService
@{
	var customerSelectItems = await _retailCustomerViewService.GetSelectListItemAsync();
	var retailBookingTypeId = _getTypeService.GetBookingTypes()
		.Where(s => s.Id == (int)BookingTypeEnum.Retail)
		.FirstOrDefault()
		.Id;
	var retailAnnexContractTypeId = _getTypeService.GetAnnexContractTypes()
		.Where(a => a.BookingTypeId == retailBookingTypeId)
		.FirstOrDefault()
		.Id;
}

<form id="create-form" asp-area="Manager" asp-controller="RetailContract" asp-action="Edit" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Edit contract"]</h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>


		<input type="hidden" asp-for="BookingTypeId" />
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="CustomerId"></label>
			</div>
			<div class="col-md-8">
				<select asp-for="CustomerId" class="form-control" asp-items="customerSelectItems" disabled> </select>
				<span asp-validation-for="CustomerId" class="text-danger"></span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="Code"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="Code" class="form-control" type="text" disabled/>
				<span asp-validation-for="Code" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="ReceiveDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="ReceiveDate" class="form-control" type="date" />
				<span asp-validation-for="ReceiveDate" class="text-danger"></span>
			</div>
		</div>
		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary"><span class="icon icon-plus"></span> @Localizer["Save"] </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-back"></span> @Localizer["Back"] </button>
			</div>
		</div>

	</div>
</form>


<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
            formId: 'create-form',
        });
    });
</script>



