@{
    ViewData["Title"] = "Daily Schedule1";
}
<div class="row">
    <div class="panel panel-primary col-md-4" style="height: 20%">
        <div class="panel-heading">Search</div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="inpChannel">Channel: </label>
                    <input type="text" class="form-control" id="inpChannel">
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group">
                    <label for="inpProgram">Program:</label>
                    <input type="text" class="form-control" id="inpProgram">
                </div>
                <div class="form-group">
                    <label for="inpPeriod">Period:</label>
                    <input type="text" class="form-control" id="inpPeriod">
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group">
                    <label for="inpFrom">From:   </label>
                    <input type="text" class="form-control" id="inpFrom">
                </div>
                <div class="form-group">
                    <label for="inpTo">To:  </label>
                    <input type="text" class="form-control" id="inpTo">
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-primary col-md-8" style="height: 20%">
        <div class="panel-heading">Playlist</div>
        <div class="panel-body">Panel Content</div>
    </div>
</div>
<div class="row">
    <div class="panel panel-primary col-md-4" style="height: 70%">
        <div class="panel-heading">Clip List</div>
        <div class="panel-body pre-scrollable">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Duration</th>
                        <th>Comment</th>
                        <th>Code</th>
                        <th>Create Date</th>
                        <th>Content Type</th>
                        <th>Section</th>
                        <th>Timecode In</th>
                        <th>Timecode Out</th>
                        <th>Real TC In</th>
                        <th>Real TC Out</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="panel panel-primary col-md-8" style="height: 70%">
        <div class="panel-heading">Orded PlayList</div>
        <div class="panel-body">Panel Content</div>
    </div>
</div>
