<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ConvertMediaFromOld.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup><applicationSettings>
        <ConvertMediaFromOld.AppSettings>
            <setting name="SourceDirectory" serializeAs="String">
                <value>F:\TVAD\SD</value>
            </setting>
            <setting name="Out422Directory" serializeAs="String">
                <value>F:\TVAD\422</value>
            </setting>
            <setting name="Out420Directory" serializeAs="String">
                <value>F:\TVAD\420</value>
            </setting>
            <setting name="LowresDirectory" serializeAs="String">
                <value>F:\TVAD\Lowres</value>
            </setting>
            <setting name="MinVolume" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="MaxVolume" serializeAs="String">
                <value>-18</value>
            </setting>
        </ConvertMediaFromOld.AppSettings>
    </applicationSettings>
</configuration>
