body {
    font-size: 12px;
}

h6 {
    margin: 0px;
}

.panel-heading {
    padding: 5px;
}

.panel-body {
    padding: 5px 15px 5px 15px;
}
.panel-footer {
    padding: 5px;
}
.form-horizontal .form-group {
    margin: 5px -5px;
}

.form-control {    
    font-size: 14px;
    height:auto;
}

.contenManager {
    font-size: 12px !important;
    padding: 2px 20px !important;
    float: right !important;
}

label {
    float: right;
}

.windowLabel {
    float: left;
}

.labelType {
    text-align: right !important;
}

.k-dropdown-wrap.k-state-default {
    background-color: #434857;
    color: white;
    border:none;
}
.k-picker-wrap.k-state-default {
    border: none;
    background-color: #434857;
}
#gridContextMenu {
    background-color: black;
    color: white;
}

.k-input {
    color: white;
}

.k-list {
    color: white;
}
