.k-tabstrip-wrapper {
    height:100%;
}
.k-widget.k-tabstrip {
    background-color: #3f51b5;
    height:100%;
}
.k-tabstrip-items .k-state-default .k-link{
    color:#fff;
}

.k-tabstrip > .k-content {
    border: none !important;
    height:100%;
}
#treeview .k-sprite {
    background-image: url("../images/coloricons-sprite.png");
}

.rootfolder {
    background-position: 0 0;
}

.folder {
    background-position: 0 -16px;
}

.pdf {
    background-position: 0 -32px;
}

.html {
    background-position: 0 -48px;
}

.image {
    background-position: 0 -64px;
}
div.balSlider {
    width: 100%;
}

div.balSlider .k-slider-selection {
    display: none;
}
.player-btn{
    margin-left:10px !important;
}
.delayInfo{    
    font-size:18px;    
    /*padding-left:10px;*/
}