.dropdown-menu.media {
    background-color: #252830; 
    border: 2px solid #676767;
}
.k-tabstrip-items .k-state-active .k-link {
    color: #fff !important;
}
.k-tabstrip:focus {
    -webkit-box-shadow: 0 0 7px 0 #52c0e9;
    box-shadow: none;
}
#gridContextMenu {
    background-color: #434857;
    color: #fff;
    padding: 10px 10px 15px 15px;
    border: 1px solid #808080;
    border-radius: 0;
}
.k-numeric-wrap.k-state-default {
    border: none;
    background-color: #2e323c;
}
.k-picker-wrap.k-state-default {
    border: none;
    background-color: #2e323c;
}
.k-dropdown-wrap.k-state-default {
    border: none;
    background-color: #2e323c;
}

.k-grid {
    background-color: transparent;
    border: 1px solid #434857;
    /*border: none;*/
    color: inherit;
    box-shadow: none;
}
.k-grid .k-grid-header {
  padding-top: 10px;
  background-color: #1a1c22;
  border: none;
  box-shadow: none;
}
    .k-grid .k-grid-header .k-header {
        border-left: 1px solid #434857;
    }
.k-grid .k-grid-header-wrap {
  border: none;
}
.k-grid .k-pager-wrap {
  background-color: transparent;
  border: 1px solid #434857;
  box-shadow: none;
}
.k-grid .k-pager-wrap .k-link.k-pager-refresh {
  border: none;
  margin-right: 10px;
}
.k-grid table {
  width: 100%;
  max-width: 100%;
}
    .k-grid table > thead > tr > th,
    .k-grid table > tbody > tr > th,
    .k-grid table > tfoot > tr > th,
    .k-grid table > thead > tr > td,
    .k-grid table > tbody > tr > td,
    .k-grid table > tfoot > tr > td {
        color: #cfd2da;
        background-color: transparent;
        padding: 8px;
        line-height: 1.5;
        vertical-align: top;
        border-top: 1px solid #434857;
        border-bottom: none;
        border-left: 1px solid #434857;
        border-right: none;
        box-shadow: none;
    }
.k-grid table .action-col {
  width: auto;
  white-space: nowrap;
  text-align: center;
}
.k-grid table .action-col .btn-group {
  margin-top: -4px;
  margin-bottom: -4px;
  white-space: nowrap;
}
.k-grid table .action-col .btn-group .btn {
  float: none;
}
.k-grid table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #434857;
}
.k-grid table > caption + thead > tr:first-child > th,
.k-grid table > colgroup + thead > tr:first-child > th,
.k-grid table > thead:first-child > tr:first-child > th,
.k-grid table > caption + thead > tr:first-child > td,
.k-grid table > colgroup + thead > tr:first-child > td,
.k-grid table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.k-grid table > tbody + tbody {
  border-top: 2px solid #434857;
}
.k-grid table > thead > tr:hover {
  background-color: transparent;
}
.k-grid table > tbody > tr:hover {
  background-color: #434857;
}
.k-grid table table {
  background-color: #252830;
}
@media only screen and (min-width: 992px) {
  .k-grid {
    display: flex;
    flex-flow: column nowrap;
  }
  .k-grid > .k-grid-header {
    flex: 0 0 0;
    box-sizing: border-box;
  }
  .k-grid > .k-grid-content {
    flex: 1 0 0;
    box-sizing: border-box;
  }
  .k-grid > .k-pager-wrap {
    flex: 0 0 42px;
    box-sizing: border-box;
  }
}
@media only screen and (max-width: 992px) {
  .k-grid {
    height: auto !important;
  }
  .k-grid .k-grid-content {
    height: auto !important;
    overflow-y: auto !important;
  }
}