body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.control-label {
	font-weight: bold;
}

/*.navbar-fixed-top {
	background: url(http://tvad.com.vn/Content/images/bg-header-sub.jpg) no-repeat top center;
	background-color: #8f9094;
}*/

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.dropdown-submenu {
	position: relative;
}

	.dropdown-submenu > .dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -1px;
		-webkit-border-radius: 0 6px 6px 6px;
		-moz-border-radius: 0 6px 6px;
		border-radius: 0 6px 6px 6px;
	}

	.dropdown-submenu:hover > .dropdown-menu {
		display: block;
	}

	.dropdown-submenu > a:after {
		display: block;
		content: " ";
		float: right;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px 0 5px 5px;
		border-left-color: #ccc;
		margin-top: 5px;
		margin-right: -10px;
	}

	.dropdown-submenu:hover > a:after {
		border-left-color: #fff;
	}

	.dropdown-submenu.pull-left {
		float: none;
	}
        
	.dropdown-submenu.pull-left > .dropdown-menu {
		left: -100%;
		margin-left: 10px;
		-webkit-border-radius: 6px 0 6px 6px;
		-moz-border-radius: 6px 0 6px 6px;
		border-radius: 6px 0 6px 6px;
	}
body > div.container-fluid {
    top: 30px;
	bottom: 0px;
}

    div .k-grid-content > table > tbody > tr {
   cursor : pointer;
}
footer > div {
    width: 100%;
}

/*.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list > .k-state-highlight, .k-list > .k-state-selected, .k-marquee-color, .k-panel > .k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited {
	color: #fff;
	background-color: #1ca8dd;
	border-color: #1CA8DD;
}*/

.k-grid td {
	white-space: nowrap;
	overflow: hidden;
}
::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}
.k-grid table > thead > tr > th, .k-grid table > tbody > tr > th, .k-grid table > tfoot > tr > th, .k-grid table > thead > tr > td, .k-grid table > tbody > tr > td, .k-grid table > tfoot > tr > td {
	
	padding: 5px;
}
.k-gantt-toolbar .k-state-default, .k-grid .k-grouping-header, .k-grid-header, .k-grid-header-wrap, .k-grouping-header .k-group-indicator, .k-header, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-wrap .k-textbox {
	border: none;
}
.panel-heading {
	padding: 6px 10px;
}
.k-grid .k-grid-header {
	padding-top: 4px;
}
.table-actions {
	padding-bottom: 8px;
}
.form-group {
	margin-bottom: 8px;
}
.form-control {
	height: 32px;
	padding: 6px 10px;
}
.dx-overlay-wrapper .dx-context-menu .dx-submenu {
	max-height: 1200px !important;
	overflow-y: inherit !important;
	overflow-x: initial !important;
}
.checkbox, .radio {
	margin-top: 0px;
	margin-bottom: 0px;
}


/* reset everything to the default box model */

*, :before, :after {
	/*-webkit-box-sizing: content-box;*/
	-moz-box-sizing: content-box;
	/*box-sizing: content-box;*/
}

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: transparent;
	border: 1px solid #7d859c;
	border-bottom: none;
}*/


/*[aria-label] {
	position: relative;
}

	[aria-label]:after {
		content: attr(aria-label);
		display: none;
		position: absolute;
		top: 110%;
		left: 10px;
		z-index: 5000;
		pointer-events: none;
		padding: 8px 10px;
		line-height: 15px;
		white-space: nowrap;
		text-decoration: none;
		text-indent: 0;
		overflow: visible;
		font-size: .9em;
		font-weight: normal;
		color: #fff;
		text-shadow: 1px 0 1px #888;
		background-color: #412917;
		border-left: 6px solid #d37092;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
		box-shadow: 1px 2px 6px rgba(0,0,0,0.3);
	}

[aria-label]:hover:after, [aria-label]:focus:after {
	display: block;
}*/


/* notification */

/* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
#notifications {
	display: none;
	width: 430px;
	position: absolute;
	top: 50px;
	left: -400px;
	background-color: #252830;
	border: solid 1px rgba(100, 100, 100, .20);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .20);
	z-index: 0;
	padding:5px;
}
	/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
	#notifications:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		color: transparent;
		border: 10px solid #CCC;
		border-color: transparent transparent #FFF;
		margin-top: -20px;
		margin-left: 400px;
	}

.seeAll {
	background: #F6F7F8;
	padding: 8px;
	font-size: 12px;
	font-weight: bold;
	border-top: solid 1px rgba(100, 100, 100, .30);
	text-align: center;
}

	.seeAll a {
		color: #3b5998;
	}

		.seeAll a:hover {
			background: #F6F7F8;
			color: #3b5998;
			text-decoration: underline;
		}

notification-header {
	display: block;
	font-weight: bold;
	padding: 8px;
	margin: 0;
	border-bottom: solid 1px rgba(100, 100, 100, .30);
}   

.notification-container {
	height: 300px;
	overflow-y: scroll
}