@{
	Layout = null;
}
@model ViewTemplateIndexViewModel
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Template info"]</h4>
	</div>
	<div class="modal-body">
		<h3 class="text-center text-danger"> @ViewBag.Message</h3>

		<div id="template"></div>

		<div class="modal-footer">
			<div class="text-center">
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-back"></span> @Localizer["Back"]</button>
			</div>
		</div>
	</div>
<script>
	require(['jquery'], function () {

		$.ajax({
			url: "Manager/Template/GetTemplate",
			data: { timeBandId: "@Model.TimeBandId" },
			success: function (response) {
				console.log(response);
				if (typeof response == 'object')
				{
					var templateItems = response.TemplateItems;
					$.each(templateItems, function (i, item) {
						var $content = '<span>' + item.Name + '</span>' + '<span id="' +  item.Id + '">'  + '</span>' + '  >>  ';
						$("#template").append($content);


						$.ajax({
							url: "Manager/TemplateItemAssetTypeRequest/GetTemplateItemTypeAsset",
							data: { templateItemId: item.Id },
							success: function (response) {
								console.log(response);
								if (typeof response == 'object') {
									var types = response;
									var _$content = '(';
									$.each(types, function (i, item) {
										_$content += '' + item.MinCount + ' - ' + item.MaxCount + ' ' + item.AssetTypeName + ' + ';
									});
									_$content += ')';
									$("#" + item.Id).append(_$content);
								}
							}
						});
					 });
				}
			 }
		});
	});	
</script>



