@{
	Layout = null;
	ViewBag.Title = "Add Storage";
}
@model HD.TVAD.Web.Storage.Models.StorageViewModel


<form id="createStorage-form" method="post" enctype="multipart/form-data" asp-area="Tools" asp-controller="Storage" asp-action="CreateStorage" class="form-horizontal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@Localizer["Add Storage"]</h4>
    </div>
    <div class="modal-body">

        <h3 class="text-center text-danger"> @ViewBag.Message</h3>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Name"></label>
            </div>
            <div class="col-md-8">
                <input asp-for="Name" class="form-control" type="text" autofocus />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 control-label">
                <label asp-for="Description"></label>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" type="text" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        
        <div class="modal-footer">
            <div class="text-center">
                <button id="submit" type="submit" value="Create" class="btn btn-primary"><span class="icon icon-action-create"></span> @Localizer["Create"] </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-action-back"></span> @Localizer["Back"]</button>
            </div>
        </div>

    </div>
</form>
<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
            formId: 'createStorage-form',
        });
    });

</script>



