body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #252830;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
h4{
    color:white;
}
h5{
    color: black;
}
.action {
    color: white;
}
.k-header {
    background-color: #1a1c22 !important;
    color: #76abd9 !important;
    text-align: center !important;   
}
.k-grid-content {
    background-color: #252830 !important;
}
.k-widget{
    color: #ffffff !important;    
}
.k-alt {
    background-color: #292d36 !important;
}
.k-grid-header .k-link:link, .k-grid-header .k-link:visited, .k-grid-header .k-nav-current.k-state-hover .k-link, .k-grouping-header .k-link {
    color: white !important;
    font-weight: bold !important;
}
.panel-default > .panel-heading {
    background-color: #1a1c22 !important;
    color: white;
}
.panel-heading{
    border-style:none;
}
.panel-default {
    border-style: solid;
    border-color: #585757 !important;
}
#treeGrid{
    margin:0px !important;
    padding:0px !important;
    border-style: none;
}
.panel-body {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-color: #252830 !important;
}
#rootPanel{
    margin-top:10px;
    border-style:none;
}
#panelbody1{
    margin-bottom:0px !important;
    padding-bottom:0px !important;
}
.isPlaying {
    font-weight: bold !important;
    background-color: rgba(0,255,0,0.4) !important;    
}
#playingProgress {
    width: 100%;
    background-color: transparent;
    margin: 0px !important;
    padding: 0px !important;
    border-style: none;
    position: absolute;
}
#playingBar {
    width: 0%;
    height: 100%;
    background-color: rgba(0,255,0,0.4);
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}