@using DevExtreme.AspNet.Mvc

<div id="headerMenu" class="nav navbar-nav" style="margin-top: 0px;"></div>

<script>
require(["jquery","devextreme-aspnet-data/js/dx.aspnet.data","devextreme/js/aspnet/dx.aspnet.mvc"], function ($,dxData,_) {
      $("#headerMenu").dxMenu({ "dataSource": { "store": dxData.createStore({ "loadUrl": "/api/home/MenuWebAPI/Get", "insertUrl": "/api/home/MenuWebAPI/Post", "updateUrl": "/api/home/MenuWebAPI/Put", "deleteUrl": "/api/home/MenuWebAPI/Delete" }) }, "hideSubmenuOnMouseLeave": false, "showFirstSubmenuMode": "onHover", "onItemRendered": onMenuItemRender });
 });

    function onMenuItemRender(e) {
        require(["jquery"], function ($) {
            if (e.itemData.url) {
                var link = $('<a>', { href: e.itemData.url });
                e.itemElement.wrap(link)
            }
            else if (e.itemData.controllerName) {
                var link = "/";
                if (e.itemData.areaName) {
                    if (e.itemData.actionName)
                        link = $('<a>', { href: '/' + e.itemData.areaName + '/' + e.itemData.controllerName + '/' + e.itemData.actionName });
                    else
                        link = $('<a>', { href: '/' + e.itemData.areaName + '/' + e.itemData.controllerName });
                }
                else {
                    if (e.itemData.actionName)
                        link = $('<a>', { href: '/' + e.itemData.controllerName + '/' + e.itemData.actionName });
                    else
                        link = $('<a>', { href: '/' + e.itemData.controllerName });
                }
                e.itemElement.wrap(link);
            }
        });
    }
</script>