@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu";
}

<h1>@ViewData["Title"].</h1>
<p>
    Mật khẩu của bạn đã được thay đổi. Vui lòng <a asp-controller="Account" asp-action="Login">bấm vào đây </a> để đăng nhập lại.
</p>
