@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using HDAdvertising.Models.AdministratorViewModels

@model User_GroupViewModel

@{ 
    Layout = null;
}

<style type="text/css">
    .usergroup_base {
        position: absolute;
        width: 300px;
    }

    .user_usergroup {
        position: absolute;
        margin-left: 350px;
        padding: 0 20px 20px;
    }

    .add-remove-usergroup{
        position: absolute;
        margin-left: 300px;
        padding: 200px 7px 7px;
    }

    .add-remove-usergroup .add-usergroup{

    }

    .add-remove-usergroup .remove-usergroup{
        position: absolute;
        margin-top: 30px;
    }
</style>

<div class="usergroup_base">
    <h3>Danh sách nhóm tài khoản</h3>
    <div class="dx-list-border-visible">
        @(Html.DevExtreme().TreeList()
            .ID("treeUserGroup")
            .KeyExpr("Id")
            .ParentIdExpr("ParentId")
            .ShowBorders(false)
            .Selection(s => s.Mode(SelectionMode.Multiple))
            .RowAlternationEnabled(true)
            .HoverStateEnabled(true)
            .ColumnAutoWidth(true)
            .WordWrapEnabled(true)
            .Sorting(s => s.Mode(GridSortingMode.Single))
            .FilterRow(f => f.Visible(true))
            .Height(400)
            .Columns(columns =>
            {
                columns.Add().DataField("Name").Caption("Nhóm tài khoản").SortOrder(SortOrder.Asc);
            })
            .DataSource(new JS("getUserGroupCanSet"))
            .NoDataText("Không có nhóm để phân")
        )
    </div>
</div>

<div class="add-remove-usergroup">
    <div class="add-usergroup">
        @(Html.DevExtreme().Button()
        .ID("add_usergroup")
        .Text(">>")
        .Hint("Thêm nhóm tài khoản")
        .OnClick("addUserGroupForUserClick"))
    </div>
    
    <div class="remove-usergroup">
        @(Html.DevExtreme().Button()
        .ID("remove_usergroup")
        .Text("<<")
        .Hint("Bỏ nhóm tài khoản")
        .OnClick("removeUserGroupForUserClick"))
    </div>
</div>

<div class="user_usergroup">
    <h3>Nhóm của tài khoản</h3>
    @(Html.DevExtreme().DataGrid()
        .ID("userUserGroup")
        .ShowBorders(true)
        .Selection(s => s.Mode(SelectionMode.Multiple))
        .RowAlternationEnabled(true)
        .HoverStateEnabled(true)
        .Height(400)
        .DataSource(new JS("getUserGroupOfUser"))
        .NoDataText("Không thuộc nhóm nào")
        .Columns(columns =>
        {
            columns.Add().DataField("Name").Caption("Nhóm tài khoản").SortOrder(SortOrder.Asc);
        })
    )
</div>
