@{
	Layout = null;
}
@model AnnexContractPartnerPriceAtSignDateViewModel
@inject IAnnexContractViewService _annexContractViewService
@{
	var annexContractSelectItems = await _annexContractViewService.GetCodeListAsync();
}
<form id="create-block-form" asp-area="Manager" asp-controller="AnnexContractPartnerPriceAtSignDate" asp-action="Edit" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">@Localizer["Edit"] </h4>
	</div>
	<div class="modal-body">

		<h3 class="text-center text-danger"> @ViewBag.Message</h3>


		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="AnnexContractId"></label>
			</div>
			<div class="col-md-8">
				<select asp-for="AnnexContractId" class="form-control" asp-items="annexContractSelectItems" disabled> </select>
				<span asp-validation-for="AnnexContractId" class="text-danger"></span>
			</div>

		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="StartDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="StartDate" class="form-control" type="date" disabled />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>

		</div>
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label asp-for="EndDate"></label>
			</div>
			<div class="col-md-8">
				<input asp-for="EndDate" class="form-control" type="date" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>

		</div>

		<div class="modal-footer">
			<div class="text-center">
				<button id="submit" type="submit" value="" class="btn btn-primary"><span class="icon icon-action-save"></span> @Localizer["Save"] </button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="icon icon-action-back"></span> @Localizer["Back"] </button>
			</div>
		</div>

	</div>
</form>


<script>
    require(['module/manager'], function (manager) {
        manager.common.submitForm.init({
            formId: 'create-block-form',
        });
    });
</script>
