@{
    Layout = null;
    var mode = HD.Station.WebComponents.FormMode.Edit;
    var profileId = _settings.Value.AppSettings.ProfileId;
}
@model ContentViewModel

<form id="contentEditForm" asp-action="UpdateMetadata" class="form-horizontal">

    @await Component.InvokeAsync("HD.Station.WebComponents.Fieldset", new { id = Model.Id, profileId = Guid.Parse(profileId), mode = mode, fetch = true })

    <div class="row">
        <div class="text-center" style="margin-top: 10px">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary-outline" data-id="@Model.Id"><span class="icon icon-action-edit"></span> Update </button>
                <button id="cancel-btn" type="button" class="btn btn-primary-outline"><span class="icon icon-action-cancel"></span> Cancel </button>
            </div>
        </div>
    </div>
</form>
<script>
    require(['content/detail'], function (assetDetailModule) {
        $("#cancel-btn").on("click", function () {
        	$("#detail-partial").load("/MAM/Content/Detail/" + "@Model.Id", function () {
        		$("#detail-partial").animate({ opacity: 0.1 }, 0).animate({ opacity: 1 }, 200);
        	});
        });
    });

	require(['module/manager'], function (manager) {
		manager.common.submitForm.init({
			formId: 'contentEditForm',
			responseCallback: function (response) {
				console.log(response);
				if (typeof response == 'object')
				{
					if (response.Succeeded)
					{
						notification.show(response.Message);

						var id = response.Id;
						//$("#detail-partial").load("/MAM/Content/Detail/" + response.Id, function () {
						//	$("#detail-partial").animate({ opacity: 0.1 }, 100).animate({ opacity: 1 }, 500);
						//});
						var grid = $(".k-grid").data('kendoGrid');
						if (grid) {
							if (id)
								grid.options.settings.dataItemId = id;
							grid.dataSource.read();
						}

						//grid.bind("dataBound", function (e) {
						//    e.preventDefault();
						//    var dataItem = dataSource.get(response.id);
						//    if (dataItem !== null && dataItem !== '' && dataItem !== undefined) {
						//        var dataUid = dataItem.uid;
						//        grid.select('tr[data-uid="' + dataUid + '"]');
						//    } else {
						//        dataSource.read();
						//    }
						//    dataSource.read();
						//});
					}
					else {
						alert(response.Message);
					}
				}
			}
		});
	});
</script>
